.navbar-nav[b-muvk81s5xl] {
  margin: 0;
  display: flex;
  width: 100%;
  padding: 0;
  background-image: url("/images/navbar.png");
  background-repeat: no-repeat; /* 防止图片重复 */
  height: 6rem;
  align-items: center;
}

.container-fluid[b-muvk81s5xl] {
  padding: 0;
}

.navbar-expand-lg[b-muvk81s5xl] {
  padding: 0;
}

.logo[b-muvk81s5xl] {
  padding: 2rem 2rem;
}

.logo img[b-muvk81s5xl] {
  width: 3.5rem;
}

.nav-link[b-muvk81s5xl] {
  display: flex;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  height: 100%;
  width: 6rem;
  /* margin: 0 1.5rem; */
  align-items: center;
  justify-content: center;
}

.nav-link:hover[b-muvk81s5xl],
.nav-link:focus[b-muvk81s5xl],
.nav-link:active[b-muvk81s5xl] {
  background-color: #ae70ff;
}

.btn-outline-success[b-muvk81s5xl] {
  border-color: #e4abff !important; /* 使用!important确保覆盖Bootstrap的样式 */
  color: #e4abff;
}

.btn-outline-success:hover[b-muvk81s5xl],
.btn-outline-success:focus[b-muvk81s5xl],
.btn-outline-success:active[b-muvk81s5xl] {
  background-color: #994ff4; /* 当按钮处于hover、focus或active状态时，背景颜色也会更改 */
  border-color: #994ff4;
  color: #fff; /* 更改文字颜色以适应新的背景颜色 */
}

.d-flex[b-muvk81s5xl] {
  margin-left: auto;
  margin-right: 2rem;
}
