@page "/homepage"

<div class="home">
  <PageTitle>Home</PageTitle>
    <a href="/homepage" class = "logo">
      <img src="/images/logo.png" alt="Website Logo">
    </a>
    <div class="content">
      <div class="words">
        <h1>Hello Everyone!</h1>
        <p class="intro">System of microgrid management, renewables, energy storage, carbon management, and electric mobility.</p>
        
        <div class="btn">
          <a href="/signup" role="button" class="signup_btn">
            <p class="text">Sign up</p>
          </a>

          <a href="/login" role="button" class="login_btn">
            <p class="text">Login</p>
          </a>
        </div>
      </div>
    </div>
</div>
 

