@page "/login"

<div class="login">
  <PageTitle>login</PageTitle>
    <a href="/home" class = "logo">
      <img src="images/logo.png" alt="logo">
    </a>
    <div class="words">
      <div class="div-container">
        <p class = login-text>Login</p>
        <hr>
        <div class = "jump-to-signup">
          <p>Don't have an account?</p>
          <a href="/signup">Register one</a>
        </div>

        <input type="text" class="input-text" placeholder="Email">
        <input type="text" class="input-text" placeholder="Password">

        <div class="create_account">

          <a class="create_btn" href="/microgrids">
            <div class = "text">
              Login
            </div>
          </a>

        </div>

      </div>
      
    </div>
    
</div>
 