@page "/login"

<div class="login">
  <PageTitle>login</PageTitle>
    <a href="/homepage" class = "logo">
      <img src="/images/logo.png" alt="Website Logo">
    </a>
    <div class="words">
      <div class="div-container">
        <p class = login-text>Login</p>
        <hr>
        <div class = "jump-to-signup">
          <p>Don't have an account?</p>
          <a href="/signup">Register one</a>
        </div>

        <input type="text" class="input-text" placeholder="Email">
        <input type="text" class="input-text" placeholder="Password">

        <div class="create_account">

          <div class="create_btn">
            <a class = "text" href="/mainboard" role="button">
              Login
            </a>
          </div>

        </div>

      </div>
      
    </div>
    
</div>
 