@page "/main"

<div class="main">
  <PageTitle>main page</PageTitle>
    <div class="navigator">
      <a href="/signup" class = "logo">
        <img src="/images/logo.png" alt="Website Logo">
      </a>
    </div>
</div>
 