@page "/signup"

<div class="signup">
  <PageTitle>sign up</PageTitle>
    <a href="/home" class = "logo">
      <img src="/images/logo.png" alt="Website Logo">
    </a>
    <div class="words">
      <div class="div-container">
        <p>SIGN UP</p>
        <hr>
        <input type="text" class="input-text" placeholder="Email">
        <input type="text" class="input-text" placeholder="Password">
        <input type="text" class="input-text" placeholder="Confirm">

        <div class="select_box">
          <input type="checkbox" id="check1" class="custom-checkbox">
          <label for="check1"> I have read and agree to the User Agreement and Privacy Policy.</label>
        </div>

        <div class="create_account">
          <button class="create_btn">
            <p class="text">Create Account</p>
          </button>
        </div>
      </div>
    </div>
    
</div>
 