<div class="d-inline-flex justfy-center">
  <img style="width:3rem;" class="pe-2" src="/images/logo.png" alt="Website Logo">
  <img style="width: 5rem; height: auto;" src="/images/name.svg" alt="App Name">
</div>