@inherits LayoutComponentBase
@inject NavigationManager Navigation


@if (CurrentRoute.EndsWith("/login"))
{
    @Body
}
else if (CurrentRoute.EndsWith("/register"))
{
    @Body
}
else if (CurrentRoute.EndsWith("/home"))
{
    @Body
}
else {
    <div class="d-flex flex-column h-100">
        <TopBar />
        <div class="flex-grow-1" style="margin-top: 7rem;">
            @Body
        </div>
    </div>
}

@code {
    private bool expanded = true;

    private void ToggleExpand()
    {
        expanded = !expanded;
    }

    private string CurrentRoute => Navigation.Uri;
}