@inherits LayoutComponentBase
@inject NavigationManager Navigation

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@if (CurrentRoute.EndsWith("/login"))
{
    <div class="d-flex flex-column h-100">
        @Body
    </div>
}
else if (CurrentRoute.EndsWith("/signup"))
{
    <div class="d-flex flex-column h-100">
        @Body
    </div>
}
else if (CurrentRoute.EndsWith("/home"))
{
    <div class="d-flex flex-column h-100">
        @Body
    </div>
}
else {
    <div class="d-flex flex-row h-100">
        <div class="flex-shrink-0">
            <NavMenu/>
        </div>

        <div class="d-flex flex-column flex-grow-1" style="height: 100vh; padding-top: 50px">
            @Body
        </div>
    </div>
}

@code {
    private bool expanded = true;

    private void ToggleExpand()
    {
        expanded = !expanded;
    }

    private string CurrentRoute => Navigation.Uri;
}