@inherits LayoutComponentBase
@inject NavigationManager Navigation


@if (CurrentRoute.EndsWith("/login"))
{
    <div class="d-flex flex-column h-100">
        @Body
    </div>
}
else if (CurrentRoute.EndsWith("/signup"))
{
    <div class="d-flex flex-column h-100">
        @Body
    </div>
}
else if (CurrentRoute.EndsWith("/home"))
{
    <div class="d-flex flex-column h-100">
        @Body
    </div>
}
else {
    <div class="d-flex flex-column h-100">
        <TopBar />
        <div class="flex-grow-1">
            @Body
        </div>
    </div>
}

@code {
    private bool expanded = true;

    private void ToggleExpand()
    {
        expanded = !expanded;
    }

    private string CurrentRoute => Navigation.Uri;
}