/* /Pages/Home.razor.rz.scp.css */
a[b-yjll2uz27b] {
  text-decoration: none;
}

.home[b-yjll2uz27b] {
  margin: 0;
  padding: 0;
  height: 100vh; /* 使 body 元素填满整个视口高度 */
  background-image: url("/images/back.png");
  background-size: cover; /* 等比缩放并填满容器 */
  background-position: center; /* 使图片居中 */
  background-repeat: no-repeat; /* 防止图片重复 */
}

.content[b-yjll2uz27b] {
  align-items: center;
}

.words[b-yjll2uz27b] {
  color: white;
  position: fixed; /* 固定定位 */
  top: 50%; /* 以下四行代码是为了居中图片 */
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center; /* 水平居中 */
}

h1[b-yjll2uz27b] {
  font-size: 5rem;
  font-style: oblique;
  background: linear-gradient(to bottom right, #6dc5fc, #e4abff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.intro[b-yjll2uz27b] {
  max-width: 40rem;
  font-family: "Inter";
  font-weight: 300;
  font-size: 1.5rem;
  /* letter-spacing: 3px; */
}

.logo[b-yjll2uz27b] {
  display: inline-flex;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 50px;
}

.logo img[b-yjll2uz27b] {
  width: 5rem;
  height: 5rem;
}

.btn[b-yjll2uz27b] {
  max-width: 35rem;
  display: flex; /* 使用 Flexbox */
  justify-content: space-between; /* 两个按钮之间最大化空间 */
  margin-top: 4rem;
}

.gradient-text[b-yjll2uz27b] {
  font-size: 3rem;
  font-family: "Inter";
  font-weight: normal;
  font-style: oblique;
  background: linear-gradient(to bottom right, #6dc5fc, #e4abff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.signup_btn[b-yjll2uz27b] {
  background-color: #c1a0d1;
  border-radius: 0.5rem;
  width: 9rem;
  height: 3rem;
}

.signup_btn:hover[b-yjll2uz27b] {
  background-color: #c199c6;
}

.login_btn[b-yjll2uz27b] {
  border-radius: 0.5rem;
  border: 1.5px solid white;
  width: 9rem;
  height: 3rem;
}

.login_btn:hover[b-yjll2uz27b] {
  background-color: #311e4d;
}

.text[b-yjll2uz27b] {
  color: white;
  /* height: 3rem; */
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0.5rem auto;
}
/* /Pages/LoginPage.razor.rz.scp.css */
.login[b-l3wd5tknof] {
  margin: 0;
  padding: 0;
  height: 100vh; /* 使 body 元素填满整个视口高度 */
  background-image: url("/images/back.png");
  background-size: cover; /* 等比缩放并填满容器 */
  background-position: center; /* 使图片居中 */
  background-repeat: no-repeat; /* 防止图片重复 */
}

.logo[b-l3wd5tknof] {
  display: inline-flex;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 50px;
}

.logo img[b-l3wd5tknof] {
  width: 5rem;
  height: 5rem;
}

.words[b-l3wd5tknof] {
  color: white;
  position: fixed; /* 固定定位 */
  top: 50%; /* 以下四行代码是为了居中图片 */
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center; /* 水平居中 */
  font-size: 2.5rem;
  width: 29rem;
  height: 35rem;
  background-color: rgba(193, 160, 209, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
}

.input-text[b-l3wd5tknof] {
  font-size: 1rem;
  width: 24rem; /* 矩形的宽度 */
  height: 3rem; /* 矩形的高度 */
  color: white;
  font-weight: 350;
  padding: 1rem 1rem;
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.input-text:focus[b-l3wd5tknof] {
  outline: none;
}

.create_btn[b-l3wd5tknof] {
  background-color: #c1a0d1;
  border-radius: 1.5rem;
  width: 15rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_btn:hover[b-l3wd5tknof] {
  background-color: #c199c6;
}

.create_btn a[b-l3wd5tknof] {
  text-decoration: none;
}

.create_btn .text[b-l3wd5tknof] {
  font-size: 1rem;
  color: white;
  margin: auto;
  width: fit-content;
}

.div-container[b-l3wd5tknof] {
  display: flex;
  flex-direction: Column;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  margin-top: 2rem;
}

hr[b-l3wd5tknof] {
  border: none; /* 移除默认的边框 */
  height: 2px; /* 定义线的高度 */
  background-color: #ffffff; /* 定义线的颜色 */
  width: 80%; /* 定义线的宽度，可以根据需要调整 */
  margin: 5px auto; /* 使线居中并在上下添加间距 */
}

.jump-to-signup[b-l3wd5tknof] {
  font-size: 1rem;
  display: flex;
  padding-top: 2rem;
  margin-left: 3rem;
  margin-right: auto;
}

.jump-to-signup p[b-l3wd5tknof] {
  padding-right: 1rem;
}

.jump-to-signup a[b-l3wd5tknof] {
  color: #e5deea;
}

.login-text[b-l3wd5tknof] {
  text-align: center;
  font-size: 2rem;
}
/* /Pages/MainPage.razor.rz.scp.css */
.main[b-k6fzahfpzn] {
  margin: 0;
  padding: 0;
  width: 100%; /* 使 body 元素填满整个视口高度 */
  background-image: url("/images/navbar.png");
  background-position: top;
  background-repeat: no-repeat;
}

.logo[b-k6fzahfpzn] {
  display: inline-flex;
  text-decoration: none;
  margin: 0 auto;
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.logo img[b-k6fzahfpzn] {
  width: 4rem;
  height: 4rem;
}
/* /Pages/SignPage.razor.rz.scp.css */
button[b-aof8btv1cw] {
  background: none; /* 重置背景 */
  border: none; /* 重置边框 */
  padding: 0; /* 重置内边距 */
  margin: 0; /* 重置外边距 */
}

.signup[b-aof8btv1cw] {
  margin: 0;
  padding: 0;
  height: 100vh; /* 使 body 元素填满整个视口高度 */
  background-image: url("/images/back.png");
  background-size: cover; /* 等比缩放并填满容器 */
  background-position: center; /* 使图片居中 */
  background-repeat: no-repeat; /* 防止图片重复 */
}

.logo[b-aof8btv1cw] {
  display: inline-flex;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 50px;
}

.logo img[b-aof8btv1cw] {
  width: 5rem;
  height: 5rem;
}

.words[b-aof8btv1cw] {
  color: white;
  position: fixed; /* 固定定位 */
  top: 50%; /* 以下四行代码是为了居中图片 */
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center; /* 水平居中 */
  font-size: 2.5rem;
  width: 29rem;
  height: 40rem;
  background-color: rgba(193, 160, 209, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 1.5rem;
}

.words p[b-aof8btv1cw] {
  text-align: center;
  font-size: 2rem;
}

.input-text[b-aof8btv1cw] {
  font-size: 1rem;
  width: 24rem; /* 矩形的宽度 */
  height: 3rem; /* 矩形的高度 */
  color: white;
  font-weight: 350;
  padding: 1rem 1rem;
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid;
  border-radius: 1.5rem;
  margin-top: 2.5rem;
}

.input-text:focus[b-aof8btv1cw] {
  outline: none;
}

/* 隐藏原始的复选框 */
.custom-checkbox[b-aof8btv1cw] {
  display: none;
}

/* 创建自定义的复选框 */
.custom-checkbox + label[b-aof8btv1cw] {
  position: relative;
  padding-left: 30px; /* 空间为自定义复选框预留 */
  cursor: pointer;
}

.custom-checkbox + label[b-aof8btv1cw]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* 定义复选框的大小 */
  height: 20px;
  border: 2px solid #ffffff; /* 外框颜色 */
  background: rgba(0, 0, 0, 0.25); /* 背景颜色 */
  margin-top: 5px;
}

/* 创建勾选标记 */
.custom-checkbox:checked + label[b-aof8btv1cw]::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-top: 5px;
}

.select_box label[b-aof8btv1cw] {
  font-size: 1rem;
  max-width: 25rem;
  margin-top: 2rem;
}

.create_btn[b-aof8btv1cw] {
  background-color: #c1a0d1;
  border-radius: 1.5rem;
  width: 15rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.create_btn:hover[b-aof8btv1cw] {
  background-color: #c199c6;
}

.create_btn p[b-aof8btv1cw] {
  font-size: 1rem;
  color: white;
  margin: 0 auto;
}

.div-container[b-aof8btv1cw] {
  display: flex;
  flex-direction: Column;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  margin-top: 2rem;
}

hr[b-aof8btv1cw] {
  border: none; /* 移除默认的边框 */
  height: 2px; /* 定义线的高度 */
  background-color: #ffffff; /* 定义线的颜色 */
  width: 80%; /* 定义线的宽度，可以根据需要调整 */
  margin: 0 auto; /* 使线居中并在上下添加间距 */
}

.jump-to-login[b-aof8btv1cw] {
  font-size: 1rem;
  display: flex;
  padding-top: 2rem;
  margin-left: 3rem;
  margin-right: auto;
}

.jump-to-login p[b-aof8btv1cw] {
  padding-right: 1rem;
}

.jump-to-login a[b-aof8btv1cw] {
  color: #e5deea;
}
/* /Pages/Whiteboard.razor.rz.scp.css */
.wrapper[b-v4f6il3vo6] {
  display: flex;
}

.diagram-container[b-v4f6il3vo6] {
  flex: 1;
  height: calc(100vh);
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0, 0, 0, 0.05) 1px, transparent 1px);
}
/* /Pages/Workspace.razor.rz.scp.css */
html[b-sp4j8iud00],
body[b-sp4j8iud00],
#app[b-sp4j8iud00] {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}
.full-height[b-sp4j8iud00] {
  height: 100%;
  overflow-y: auto;
}

.grid-background[b-sp4j8iud00] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 30px 30px; /* 调整网格大小 */
}

.main-timeline[b-sp4j8iud00] {
  position: relative;
}

.main-timeline[b-sp4j8iud00]:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-timeline .timeline[b-sp4j8iud00] {
  margin-top: 30px;
  position: relative;
}

.main-timeline .timeline[b-sp4j8iud00]:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .icon[b-sp4j8iud00] {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  bottom: -2rem;
}

.main-timeline .element-content[b-sp4j8iud00] {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative;
}

.main-timeline .element-content[b-sp4j8iud00]:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.main-timeline .element-outer[b-sp4j8iud00] {
  width: 200px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
  background: #fff;
  border: 2px solid #ffffff;
  left: -6px;
}

.main-timeline .element[b-sp4j8iud00] {
  width: 100%;
  margin: auto;
  /* position: absolute;
  top: 27%; */
  left: 0;
}

.main-timeline .type[b-sp4j8iud00] {
  font-size: 18px;
  font-weight: 700;
}

.main-timeline .year[b-sp4j8iud00] {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px;
}

.main-timeline .timeline-content[b-sp4j8iud00] {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
}

.main-timeline .title[b-sp4j8iud00] {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.main-timeline .description[b-sp4j8iud00] {
  margin-bottom: 0;
}

.main-timeline .timeline:nth-child(2n) .element-content[b-sp4j8iud00] {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .element-content[b-sp4j8iud00]:before {
  left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content[b-sp4j8iud00] {
  padding: 20px 50px 20px 0;
  text-align: right;
}

.main-timeline .element-content[b-sp4j8iud00] {
  margin-top: 35px;
}

.main-timeline .element-content[b-sp4j8iud00]:before {
  width: 22.5%;
}

.main-timeline .timeline-content[b-sp4j8iud00] {
  padding: 10px 0 10px 30px;
}

.main-timeline .title[b-sp4j8iud00] {
  font-size: 17px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content[b-sp4j8iud00] {
  padding: 10px 30px 10px 0;
}

.main-timeline .image[b-sp4j8iud00] {
  width: 200px;
}

.element-buttons[b-sp4j8iud00] {
  opacity: 0;
  transition: all 0.33s ease-out 0s;
}

.element-content:hover .element-buttons[b-sp4j8iud00] {
  opacity: 1;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-43oo3m9f90] {
  position: relative;
  display: flex;
  flex-direction: Column;
}

main[b-43oo3m9f90] {
  flex: 1;
}

.sidebar[b-43oo3m9f90] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-43oo3m9f90] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-43oo3m9f90]  a,
.top-row[b-43oo3m9f90]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-43oo3m9f90]  a:hover,
.top-row[b-43oo3m9f90]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-43oo3m9f90]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-43oo3m9f90] {
    display: none;
  }

  .top-row.auth[b-43oo3m9f90] {
    justify-content: space-between;
  }

  .top-row[b-43oo3m9f90]  a,
  .top-row[b-43oo3m9f90]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-43oo3m9f90] {
    flex-direction: row;
  }

  .sidebar[b-43oo3m9f90] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-43oo3m9f90] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-43oo3m9f90]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-43oo3m9f90],
  article[b-43oo3m9f90] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
.wrapper[b-43oo3m9f90] {
  display: flex;
}

.diagram-container[b-43oo3m9f90] {
  flex: 1;
  height: calc(100vh - 56.59px);
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0, 0, 0, 0.05) 1px, transparent 1px);
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-muvk81s5xl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-muvk81s5xl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-muvk81s5xl] {
    font-size: 1.1rem;
}

.oi[b-muvk81s5xl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-muvk81s5xl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-muvk81s5xl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-muvk81s5xl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-muvk81s5xl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-muvk81s5xl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-muvk81s5xl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-muvk81s5xl] {
        display: none;
    }

    .collapse[b-muvk81s5xl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/SideBar.razor.rz.scp.css */
.sidebar[b-5l13u3u4va] {
  width: 350px;
  height: calc(100vh - 56.59px);
  background-color: #f8f9fa;
  border-left: 1px solid #a9afb8;
  padding: 1rem;
}

select.column-type[b-5l13u3u4va] {
  width: 120px;
}

tr[b-5l13u3u4va] {
  cursor: pointer;
}

tr.active[b-5l13u3u4va] {
  color: #343a40;
  background-color: rgba(0, 0, 0, 0.075);
}
/* /Shared/TabBar.razor.rz.scp.css */
.nav-link[b-z2g3hld6u1] {
  padding-left: 0rem;
  padding-right: 0rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-tabs[b-z2g3hld6u1] {
  border-bottom: none;
}
/* 非活动标签的样式 */
.nav-tabs .nav-link[b-z2g3hld6u1] {
  color: gray; /* 更改文字颜色 */
  border: none; /* 隐藏底部边框 */
  transition: transform 0.3s ease; /* 平滑过渡效果 */
}

/* 活动标签的样式 */
.nav-tabs .nav-link.active[b-z2g3hld6u1] {
  color: black; /* 更改活动标签的文字颜色 */
  border-bottom: 2px solid #3468e8; /* 更改活动标签的边框样式 */
}

/* 鼠标悬停时的标签样式 */
.nav-tabs .nav-link:hover[b-z2g3hld6u1] {
  color: rgb(43, 43, 43); /* 更改鼠标悬停时的文字颜色 */
  transform: translateY(-3px); /* 鼠标悬停时向上移动 */
}
/* /Shared/TableNode.razor.rz.scp.css */
.fully-transparent[b-9na8k5luq7] {
  background-color: transparent;
  border: 0;
}

.dropdown > a[b-9na8k5luq7] {
  color: black;
}

.node > .card.selected[b-9na8k5luq7] {
  border: 1px #4582ec solid;
}

.list-group[b-9na8k5luq7] {
  border-bottom: unset;
}

[b-9na8k5luq7] .port {
  width: 20px;
  height: 46px;
  position: absolute;
}

[b-9na8k5luq7] .port:hover {
  background: #eee;
  cursor: pointer;
}

.node > .card.selected[b-9na8k5luq7]  .port {
  border-right-color: #4582ec;
  border-left-color: #4582ec;
}

[b-9na8k5luq7] .port.right {
  top: 45px;
  right: -1px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

[b-9na8k5luq7] .port.left {
  top: 0;
  left: -1px;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
